.preview {
   max-width: 404px;
   display: flex;
   flex-direction: column;
   gap: 60px;

   .title {
      font-size: 3.75rem;
      color: #f0f0f0;
      line-height: 100%;
      font-weight: 500;
   }

   .description {
      font-size: 0.875rem;
      font-weight: 400;
      color: #afafaf;
      margin-top: 32px;
      max-width: 392px;

      span {
         font-weight: 600;
      }
   }

   .statistic {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
   }

   .list {
      display: flex;
      align-items: center;
      gap: 28px;

      .logos {
         display: flex;
         gap: 16px;
      }
   }

   @media screen and (max-width: 1280px) {
      max-width: 290px;
      gap: 40px;

      .title {
         font-size: 43px;
         line-height: 42.67px;
      }
      .description {
         font-size: 10px;
         line-height: 14.93px;
      }
      .statistic {
         gap: 12px;
      }
      .list {
         gap: 20px;

         & > img {
            width: 123.67px;
            height: 24.73px;
            margin: auto 0;
         }
   
         .logos {
            display: flex;
            gap: 12px;

            & > img {
               width: 28px;
               height: 37px;
            }
         }
      }
   }
   @media screen and (max-width: 960px) {
   }
   @media screen and (max-width: 480px) {
   }
}