.container {
  margin-top: 32px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 4px;

  color: #f0f0f0;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;

  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 8px;
  width: 100%;
  padding: 12px;

  text-align: center;

  span {
    font-weight: 600;
  }

  .btn {
    background: none;
    display: flex;
    gap: 4px;
    color: #12fff1;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (max-width: 1280px) {
    margin-top: 22px;

    font-size: 10px;
    line-height: 18px;
    gap: 0 3px;

    border-radius: 7px;
    padding: 10px;

    text-align: center;

    .btn {
      gap: 3px;

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }
  @media screen and (max-width: 960px) {
    margin-top: 19.86px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 22px;
  }
}
