.container {
    margin-top: 152px;
    position: relative;
    overflow: hidden;
    padding: 20px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 1) 100%
        );
        z-index: 2;
    }

    @media screen and (max-width: 1280px) {
        margin-top: 100px;
    }
    @media screen and (max-width: 960px) {
    }
    @media screen and (max-width: 480px) {
    }
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

.title {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #f0f0f0;

    @media screen and (max-width: 1280px) {
        font-size: 43px;
        line-height: 42.67px;
    }
    @media screen and (max-width: 960px) {
        font-size: 48.85px;
        line-height: 52.11px;
        padding: 0 30px;
        max-width: 420px;
        margin: 0 auto;
    }
    @media screen and (max-width: 480px) {
        font-size: 40px;
        line-height: 42.67px;
        max-width: 360px;
    }
}

.cardsContainer {
    margin: 0 auto;
    margin-top: 48px;
    max-width: 1200px;
    height: 570px;

    display: flex;
    justify-content: space-between;

    & > a:nth-child(2) {
        margin: auto auto 0 0;
    }

    @media screen and (max-width: 1280px) {
        max-width: 850px;
        height: 400px;
        margin-top: 24px;
    }
    @media screen and (max-width: 960px) {
        height: fit-content;
        max-width: none;
        margin-top: 30px;

        flex-direction: column;
        align-items: center;
        gap: 30px;

        & > a:nth-child(2) {
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 480px) {
        margin-top: 24px;
        gap: 24px;
    }
}