.depositBtn {
    width: 100%;
    margin-top: 12px;
    padding: 12px 52px 12px 52px;

    border-radius: 50px;
    background: linear-gradient(89.59deg, #12fff1 14.83%, #99fff9 85.17%);
    box-shadow: 0px 0px 29.77px 0px rgba(18, 255, 241, 0.3);

    font-size: 16px;
    font-weight: 600;
    line-height: 19.69px;
    text-align: center;
    color: #0f0f0f;

    position: relative; 
    overflow-x: hidden; 
}

.flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
    animation: flareAnimation 5s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}