.sendingWrapepr {
    width: 100%;

    .chooseCurrWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;

        .chooseCurrBtn {
            width: 100%;
            padding: 0 12px;
            height: 48px;

            border-radius: 8px;
            background: rgba(255, 255, 255, 0.04);

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            span {
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                text-align: left;
                color: #ffffff;
            }
        }

        /* .divider {
            width: 1px;
            height: 40px;
            background: rgba(240, 240, 240, 0.1);
        } */

        .activeChooseCurrBtn {
            background: rgba(255, 255, 255, 0.12);
        }
    }

    .sending {
        margin-top: 16px;
        padding: 12px 20px;
        border-radius: 8px;
        backdrop-filter: blur(22px);
        background: rgba(255, 255, 255, 0.04);

        .sendingTop {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sendingTitle {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: center;
                color: #ffffff;
            }

            .sendingBalance {
                display: flex;
                align-items: center;
                gap: 16px;

                span {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: center;
                    color: #afafaf;
                }

                .sendingBalanceBtn {
                    background: transparent;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: center;
                    color: #12fff1;
                }
            }
        }

        .sendingBottom {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sendingInput {
                max-width: 80%;
                font-size: 20px;
                font-weight: 500;
                line-height: 36px;
                text-align: left;

                background: transparent;
                border: none;
                outline: none;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                -moz-appearance: textfield;
            }
        }

        
        .errWrapper {
            display: flex;
            align-items: center;
            gap: 4px;

            .err {
                color: #BF3434;
                font-size: 12px;
                line-height: 21px;
        
                @media (max-width: 1042px) {
                    line-height: 17px;
                }
            }
        }
    }

    .depositBtn {
        width: 100%;
        margin-top: 12px;
        padding: 12px 52px 12px 52px;

        border-radius: 50px;
        background: linear-gradient(89.59deg, #12fff1 14.83%, #99fff9 85.17%);
        box-shadow: 0px 0px 29.77px 0px rgba(18, 255, 241, 0.3);

        font-size: 16px;
        font-weight: 600;
        line-height: 19.69px;
        text-align: center;
        color: #0f0f0f;
    }

    .agreement {
        margin-top: 16px;
    }

    .disclaimer {
        margin-top: 20px;
        border-radius: 8px;
        padding: 16px 20px;
        border: 1px solid rgba(18, 255, 241, 0.2);

        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: rgba(240, 240, 240, 0.6);

        span {
            color: rgba(240, 240, 240, 0.8);
            font-weight: 600;
        }
    }

    @media screen and (max-width: 960px) {
        .sending {
            .sendingTop {
                flex-wrap: wrap;

                .sendingTitle {
                    width: 100%;
                    text-align: left;
                }

                .sendingBalance {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .depositBtn {
            padding: 12px 30px;
        }
    }
    @media screen and (max-width: 650px) {
        .sending {
            .sendingTop {
                .sendingTitle {
                    width: fit-content;
                }

                .sendingBalance {
                    width: fit-content;
                }
            }
        }
        .depositBtn {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 480px) {
        .sendingWrapepr {
            .sending {
                .sendingTop {
                    .sendingTitle {
                        width: fit-content;
                    }

                    .sendingBalance {
                        width: fit-content;
                    }
                }
            }
            .depositBtn {
                margin-top: 20px;
            }
        }
    }
}
