.container {
   border-radius: 16px;
   min-width: 520px;
   max-height: fit-content;
   backdrop-filter: blur(20px);
   border: 1px solid rgba(240, 240, 240, .1);
   background: rgba(15, 15, 15, .6);
   padding: 48px;
   font-weight: 500;

   .badge {
      display: flex;
      gap: 12px;
      align-items: center;
      margin-bottom: 24px;

      .stage {
         border-radius: 8px;
         padding: 0px 12px;
         background: #F0F0F0;
         font-size: 1.25rem;
         line-height: 40px;
         color: #0f0f0f;
      }
   }

   .title {
      font-size: 5rem;
      color: #12FFF1;
      line-height: 62px;
      font-weight: 400;
   }

   .event {
      margin-top: 16px;
      font-size: 1.75rem;
      color: #fff;
   }

   .events {
      margin-top: 40px;

      .item {
         font-size: 1rem;
         color: #F0F0F0;
         font-weight: 600;
      }

      .list {
         margin-top: 8px;
         display: flex;
         align-items: center;
         gap: 6px;

         li {
            font-size: 0.875rem;
            color: #F0F0F0;
            font-weight: 400;
            list-style: none;

            @media (max-width: 520px) {
               font-size: 12px;
            }
         }
      }

      hr {
         margin: 16px 0;
         border: 1px solid rgba(240, 240, 240, 0.1);;
      }
   }

   @media (max-width: 960px) {
      padding: 29px;
      background: rgba(49, 56, 57, .3);
      backdrop-filter: blur(12px);
      border: 1px solid rgba(240, 240, 240, .35);
      max-height: none;

      .title {
         font-size: 60px;
      }

      .event {
         margin-top: 0;
         line-height: 22.15px;
         font-size: 17px;
      }
   }

   @media (max-width: 640px) {
      min-width: 450px;
   }

   @media (max-width: 560px) {
      min-width: 400px;
   }

   @media (max-width: 510px) {
      min-width: 350px;

      .title {
         font-size: 40px;
      }
   }

   @media (max-width: 465px) {
      min-width: 320px;
   }

   @media (min-width: 961px) {
      &:hover {
         box-shadow: 0 0 45px 0 rgba(18, 255, 241, .3);
         border: 1px solid #12FFF1;
         transition: all 0.2s ease-in-out;
      }
   }
}

.active {
   border: 1px solid #12FFF1;
   box-shadow: 0 0 45px 0 rgba(18, 255, 241, .3);
}