.container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .stage {
      display: flex;
      align-items: center;
      color: #575757;
      gap: 8px;
      font-weight: 700;

      .title {
         width: 24px;
         text-align: center;
         font-size: 16px;
         line-height: 24px;
         background: #57575766;
         border-radius: 24px;
      }

      p {
         font-size: 28px;
         line-height: 36px;
         font-weight: 500;
      }
   }

   .step {
      width: 100%;
      border: 2px solid #57575766;
      max-width: 147px;
      border-radius: 4px;
   }

   .activeStep {
      border-color: #12FFF1;
   }

   .activeTitle {
      color: #12FFF1;

      .title {
         background: #12FFF1;
         color: #0F0F0F;
      }
   }

   @media (max-width: 1180px) {
      .step {
         max-width: 121px;
      }
   }
}