.wrapper {
   position: fixed;
   width: max-content;
   padding: 10px;
   border-radius: 16px;
   background: #272727cc;
   backdrop-filter: blur(11.4px);
   z-index: 10;
   backdrop-filter: blur(8px);
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   bottom: -250px;
   visibility: hidden;
   opacity: 0;
   transition: bottom 0.6s ease, visibility 0.5s ease, opacity 0.5s ease;

   &.open {
      bottom: -20px;
      opacity: 1;
      visibility: visible;
   }

   .stage {
      display: flex;
      align-items: center;
      gap: 16px;
      border-radius: 16px;

      .info {
         border-radius: 8px;
         padding: 8px 24px;
         background: rgba(255, 255, 255, 0.04);
         display: flex;
         gap: 12px;
         transition: background .4s ease;
         align-items: center;

         &:hover {
            background: rgba(255, 255, 255, .12);
            transition: background .4s ease;
         }

         .priceWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            h2 {
               color: #fff;
               font-size: 14px;
               line-height: 21px;
               vertical-align: middle;
               font-weight: 500;
            }

            .mobileDiscount {
               display: none;
               border: 1px solid #00a1b2;
               padding: 0 3px;
               border-radius: 2.84px;

               p {
                  color: #12fff1;
                  font-size: 10px;
                  font-weight: 700;
                  line-height: 15px;
                  text-align: center;
               }
            }
         }

         .wrap {
            display: flex;
            align-items: center;
            gap: 12px;

            .prices {
               display: flex;
               align-items: center;
               gap: 4px;

               p {
                  font-weight: 700;
                  color: #fff;
                  vertical-align: middle;
                  font-size: 15px;
                  line-height: 20px;
               }

               .prevPrice {
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: right;
                  text-decoration-line: line-through;
                  text-underline-position: from-font;
                  color: rgba(240, 240, 240, 0.4);
               }
            }

            .discount {
               border: 1px solid #00a1b2;
               padding: 0 8px;
               border-radius: 4px;

               p {
                  color: #12fff1;
                  line-height: 28px;
                  font-size: 20px;
                  font-weight: 700;
                  text-align: center;
               }
            }
         }
      }

      .timer {
         display: flex;
         align-items: center;
         border-radius: 8px;
         padding: 8px 24px;
         background: rgba(255, 255, 255, 0.04);
         transition: background .4s ease;
         gap: 12px;

         &:hover {
            background: rgba(255, 255, 255, .12);
            transition: background .4s ease;
         }

         h2 {
            color: #fff;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
         }

         .countdown {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: #12fff1;
            font-weight: 500;
            font-size: 14px;
            line-height: 15.4px;

            div {
               span {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 19.8px;
                  text-align: center;
               }

               p {
                  font-size: 8px;
                  font-weight: 500;
                  line-height: 8.8px;
                  text-align: center;
               }
            }
         }
      }

      .buy {
         display: flex;
         justify-content: center;
         align-items: center;
         background: #12fff1;
         transition: background .4s ease;
         font-size: 20px;
         color: #0f0e14;
         line-height: 28px;
         font-weight: 700;
         border-radius: 8px;
         text-transform: uppercase;
         padding: 6px 24px;

         &:hover {
            background: #00A1B2;
            transition: background .4s ease;
         }
      }
   }


   @media (max-width: 840px) {
      .stage {
         gap: 5px;
         .info {
            flex-direction: column;
            gap: 0px;
            padding: 8px;
            align-items: unset;

            .priceWrapper {
               align-items: flex-start;
               flex-direction: column-reverse;
               gap: 4px;

               h2 {
                  font-size: 10px;
                  line-height: 15px;
               }

               .mobileDiscount {
                  display: block;
               }
            }

            .wrap {
               .prices {
                  p {
                     font-size: 10px;
                     line-height: 15px;
                  }
   
                  .prevPrice {
                     font-size: 8px;
                     line-height: 12px;
                  }
               }
            }

            .discount {
               display: none;
            }
         }

         .timer {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            padding: 10px 6px;

            h2 {
               font-size: 10px;
               line-height: 16px;
            }

            .countdown {
               gap: 2px;
               div {
                  span {
                     font-size: 14px;
                     line-height: 15.4px;
                  }
                  p {
                     font-size: 7px;
                     line-height: 7.7px;
                  }
               }
            }
         }

         .buy {
            padding: 6px 20px;
            font-size: 16px;
            font-weight: 700;
         }
      }
   }
}
