.container {
    width: 460px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    .timerHead {
        width: 100%;    
        height: 71.66px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        .timerLogos {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            gap: 8px;

            .logo {
                width: 23px;
                height: 23px;
            }
        }

        .timerWrapperTitle {
            margin: 20px 88px 20px auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 6px;

            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
            color: #f0f0f0;

            .logo {
                width: 32px;
                height: 32px;
            }
        }
    }

    .timer {
        height: 100%;
        backdrop-filter: blur(24px);
        background: #02030499;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid #575757;
        border-radius: 4px 4px 16px 16px;

        padding: 40px;

        .timerTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: #fff;

            .timerHeading {
                font-size: 32px;
                line-height: 36px;
                font-weight: 600;
            }

            .timerDesc  {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }

            .discount {
                color: #0F0E14;
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
                padding: 4px 8px;
                border-radius: 8px;
                background: #12FFF1;
            }
        }

        .timerContainer {
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color: #AFAFAF;
            }
        }

        .stagePrice {
            margin-top: 32px;
            width: 100%;
            background: #F0F0F01A;
            padding: 12px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftPart {
                display: flex;
                align-items: center;
                gap: 6px;

                h3, p {
                    color: #FFFFFF99;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                }

                p {
                    color: #fff;
                    font-weight: 600;
                }
            }

            .prices {
                display: flex;
                align-items: center;
                gap: 6px;
                color: #F0F0F066;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;

                p:nth-child(2) {
                    font-weight: 600;
                }
            }
        }

        .progress {
            width: 100%;
            margin-top: 32px;
        }

        .warn {
            margin-top: 32px;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            max-width: 256px;
            color: #fff;

            span {
                font-weight: 700;
            }
        }

        .timerButton {
            margin-top: 36px;
            width: 100%;
            padding: 12px;
            border-radius: 50px;
            background: linear-gradient(89.59deg, #12FFF1 14.83%, #99FFF9 85.17%);

            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            color: #0F0E14;

            position: relative; 
            overflow-x: hidden; 
        }

        .flare {
            position: absolute;
            top: 0;
            height: 100%;
            width: 45px;
            transform: skewX(-45deg);
            animation: flareAnimation;
            left: -150%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
            animation: flareAnimation 5s infinite linear;
        }

        .stage1Btn {
            margin-top: 12px;
        }

        .suggestion {
            text-align: center;
            font-weight: 600;
            color: #64E5ED;
            line-height: 21px;
            font-size: 14px;
            display: inline-block;
            margin-top: 8px;
        }

        .referral {
            margin-top: 20px;

            .refBtn {
                background: none;
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                text-align: right;
                color: #fff;
            }
        }
    }

    @media screen and (max-width: 1280px) {
        width: 328px;

        .timerHead {
            height: 52px;

            .timerWrapperTitle {
                margin: 14px 62px 14px auto;
                gap: 6px;

                font-size: 14.22px;
                line-height: 15.64px;

                .logo {
                    width: 22px;
                    height: 22px;
                }
            }

            .timerLogos {
                left: 10px;
                gap: 4px;
    
                .logo {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .timer {
            border-radius: 3px 3px 11px 11px;
            padding: 28.45px;

            .timerTitle {
                .timerHeading {
                    font-size: 22.76px;
                    line-height: 25.6px;
                }

                .timerDesc {
                    font-size: 8.5px;
                    line-height: 11.38px;
                }

                .discount {
                    font-size: 15.64px;
                    line-height: 23.47px;
                    padding: 2.84px 5.69px;
                }
            }

            .timerContainer {
                margin-top: 22px;

                .title {
                    font-size: 9.96px;
                    line-height: 14.93px;
                }
            }

            .stagePrice {
                margin-top: 22px;
                padding: 7px;
                border-radius: 5.7px;

                .prices {
                    font-size: 8.4px;
                    line-height: 14.3px;
                }

                .leftPart {
                    h3, p {
                        font-size: 8.4px;
                        line-height: 14.3px;
                    }
                }
            }

            .progress {
                margin-top: 22px;
            }

            .warn {
                margin-top: 22px;
            }

            .timerButton {
                margin-top: 22px;
                font-size: 9.96px;
                line-height: 14.93px;
                padding: 8.5px;
            }

            .suggestion {
                font-size: 9.96px;
                line-height: 14.93px;
            }
        }
    }

    @media screen and (max-width: 960px) {
        margin-top: 50px;

        .timer {
            padding: 25px;

            .stagePrice, .timerButton, .timerContainer, .paysCards, .progress, .warn {
                margin-top: 19.86px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        width: 325px;

        .timer {
            padding: 28.45px;

            .stagePrice, .timerButton, .timerContainer, .paysCards, .progress, .warn {
                margin-top: 22px;
            }
        }
    }
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}