.container {
    padding: 20px 52px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        123.32deg,
        #007d76 -11.29%,
        rgba(15, 15, 15, 0.6) 109.37%
    );
    backdrop-filter: blur(20px);
    border: 1px solid rgba(15, 15, 15, 0.3);

    @media screen and (max-width: 960px) {
        padding: 10px 24px;
    }
    @media screen and (max-width: 650px) {
        justify-content: center;
        gap: 20px;
    }
}

.timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time {
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: center;
    color: #f0f0f0;

    @media screen and (max-width: 960px) {
        font-size: 22px;
        line-height: 24.2px;
    }
}

.label {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: center;
    color: #f0f0f0;

    @media screen and (max-width: 960px) {
        font-size: 10px;
        line-height: 11px;
    }
}

.separator {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #f0f0f0;

    @media screen and (max-width: 960px) {
        font-size: 20px;
        line-height: 22px;
    }
}
