.container {
    width: 100%;
    max-width: 301px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #5757574D;

    border: 1px solid rgba(138, 138, 138, 0.3);
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time {
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: center;
    color: #AFAFAF;

    @media screen and (max-width: 1280px) {
        font-size: 23px;
        line-height: 25.3px;
    }
    @media screen and (max-width: 960px) {
        font-size: 28px;
        line-height: 30px;
    }
    @media screen and (max-width: 480px) {
        font-size: 23px;
        line-height: 25.3px;
    }
}

.label {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: center;
    color: #AFAFAF;

    @media screen and (max-width: 1280px) {
        font-size: 9px;
        line-height: 9.9px;
    }
    @media screen and (max-width: 960px) {
        font-size: 11px;
        line-height: 12px;
    }
    @media screen and (max-width: 480px) {
        font-size: 9px;
        line-height: 9.9px;
    }
}

.separator {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #f0f0f0;

    @media screen and (max-width: 1280px) {
        font-size: 14px;
        line-height: 15.4px;
    }
}
