.container {
    padding: 12px 22px;
    border-radius: 8.69px;
    background: #5757574d;
    border: 1px solid rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 1200px) {
        padding: 8px 15px;
    }
}

.timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time {
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: center;
    color: #afafaf;

    @media screen and (max-width: 1200px) {
        font-size: 23px;
        line-height: 25.3px;
    }
}

.label {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: center;
    color: #afafaf;

    @media screen and (max-width: 1200px) {
        font-size: 9px;
        line-height: 9.9px;
    }
}

.separator {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #afafaf;

    @media screen and (max-width: 1200px) {
        font-size: 14px;
        line-height: 15.4px;
    }
}
