.container {
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 4px 4px 64px 36px rgba(0, 0, 0, 0.8) inset;

   .title {
      font-weight: 500;
      font-size: 3.75rem;
      text-align: center;
      color: #F0F0F0;
   }

   .swiper {
      width: 100vw;
      margin-top: 10px;
      padding: 45px 0;

      .slide {
         max-width: fit-content;
         margin-right: 48px;
      }
   }
}