.wrapper {
   position: relative;
   border-radius: 12px;
   background-color: #141415;
   backdrop-filter: blur(22px);
   padding: 28px;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}