.dropdown {
    position: relative;
    height: 100%;

    .dropdownButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px 18px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        cursor: pointer;

        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: white;

        .arrow {
            color: #a0a0b0;
            font-size: 12px;
            transition: transform 0.2s ease;
        }

        .close {
            transform: rotate(180deg);
        }
    }

    .dropdownMenu {
        backdrop-filter: blur(40px);
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 240px;
        padding: 16px 32px;
        background: rgba(240, 240, 240, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.12);
        border-radius: 8px;
        z-index: 10;

        .dropdownItem {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: transparent;
            cursor: pointer;
            gap: 8px;
            color: white;
        }
        .dropdownItemActive {
            span {
                color: #12fff1;
            }
        }
    }

    @media screen and (max-width: 1280px) {
        .dropdownButton {
            height: 40px;
            padding: 10px 8px;
            gap: 5px;
            border-radius: 7px;

            >img {
                width: 16px;
                height: 16px;
            }
        }
    }

    @media screen and (max-width: 960px) {
        .dropdownButton {
            height: 100%;
            padding: 8px 12px;
            gap: 5px;
            border-radius: 8px;

            >img {
                width: 14px;
                height: 14px;
            }
        }
    }
}
