.head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px;

   .title {
      font-size: 3.75rem;
      color: #f0f0f0;
      line-height: 60px;
      font-weight: 500;
   }

   .link {
      color: #0F0F0F;
      margin-top: 20px;
      display: inline-block;
      background-color: #fff;
      border-radius: 45px;
      padding: 12px 0px;
      font-weight: 400;
      width: 60%;
      text-align: center;
   }

   .description {
      color: #afafaf;
      line-height: 21px;
      font-size: 0.875rem;
      text-align: right;
      max-width: 313px;
   }
}
