.team {
   height: 888px;
   padding: 120px 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   display: flex;
   justify-content: center;
   gap: 114px;
}