.container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .stage {
      color: #fff;

      .title {
         font-size: 16px;
         line-height: 24px;
         font-weight: 400;
      }

      p {
         font-size: 28px;
         line-height: 36px;
         font-weight: 500;
      }
   }

   .step {
      width: 100%;
      border: 2px solid #57575766;
      max-width: 247px;
      border-radius: 4px;
   }

   .active {
      border-color: #12FFF1;
   }

   @media (max-width: 1135px) {
      .step {
         max-width: 200px;
      }
   }

   @media (max-width: 1020px) {
      .step {
         max-width: 160px;
      }
   }

   @media (max-width: 960px) {
      display: none;
   }
}