.wrapper {
    position: fixed;
    top: 28px;
    left: 50%;
    z-index: 102;

    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;

    padding: 12px 12px 12px 32px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(87, 87, 87, 0.4);
    backdrop-filter: blur(20px);
    transition: 0.3s;

    @media screen and (max-width: 1280px) {
        max-width: 850px;
        padding: 8px 8px 8px 20px;
        border-radius: 12px;
    }
    @media screen and (max-width: 960px) {
        padding: 20px 30px;
        border-radius: 24px;
        max-width: none;
        width: auto;
        transform: translateX(0);
        top: 20px;
        left: 32px;
        right: 32px;
    }
    @media screen and (max-width: 480px) {
        padding: 12px 24px;
        border-radius: 20px;

        top: 16px;
        left: 16px;
        right: 16px;
    }
}
.openWrapper {
    @media screen and (max-width: 480px) {
        left: 32px;
        right: 32px;
    }
}

.openLogoFull {
    display: none;
}
.logoSmall {
    display: none;
}
.openLogoSmall {
    display: block;
    width: 30px !important;
    height: 30px !important;
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
        width: 121px;
        height: 44px;
    }

    .backToMainButton {
        font-size: 12px;
        font-weight: 500;
        line-height: 13.2px;
        text-align: center;
        color: #575757;
        background: transparent;

        @media screen and (max-width: 960px) {
            display: none;
        }
    }

    @media screen and (max-width: 1280px) {
        img {
            width: 86px;
            height: 31px;
        }
    }
    @media screen and (max-width: 960px) {
        img {
            width: 98.93px;
            height: 35.98px;
        }
    }
    @media screen and (max-width: 480px) {
        img {
            width: 81px;
            height: 29.45px;
        }
    }
}

.linksContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 52px 0 auto;

    .popover {
        position: absolute;
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        // left: 55%;
        right: 0 !important;
        transform: translateX(45%) !important;
        top: 200%;

        .popoverIcon {
            position: absolute;
            top: -10px;
            transform: rotate(180deg);
        }

        .popoverContent {
            background: #575757;
            padding: 8px 12px;
            border-radius: 4px;
            color: #f0f0f0;
            font-weight: 400;
            line-height: 22px;
            font-size: 12px;
            z-index: 1;
        }

        @media (max-width: 960px) {
            top: 230px;
        }

        @media (max-width: 650px) {
            top: 220px;
        }

        @media (max-width: 580px) {
            right: 30px;
        }
    }

    .link {
        cursor: pointer;
        transition: 0.3s;
        background: transparent;
        border: none;

        font-size: 12px;
        font-weight: 500;
        line-height: 13.2px;
        text-align: center;
        color: #f0f0f0;
        opacity: 0.4;

        &.linkActive {
            opacity: 1;
        }

        &:hover {
            opacity: 0.8;
        }
        &:disabled:hover {
            opacity: 0.4;
            cursor: default;
        }
    }
    @media screen and (max-width: 1280px) {
        gap: 28px;
        margin-right: 36px;

        .link {
            font-size: 9px;
            line-height: 9.9px;
        }
    }

    // @media screen and (max-width: 960px) {
    //     gap: 24px;
    //     margin-right: 32px;

    //     .link {
    //         font-size: 7px;
    //         line-height: 7.7px;
    //     }
    // }
    @media screen and (max-width: 960px) {
        display: none;
    }
}

.chooseChain {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 12px;

    @media screen and (max-width: 960px) {
        margin-left: auto;
        display: none;
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.mobileChooseChain {
    width: 60%;
    height: 48px;
    margin-top: 20px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 12px;
}

.connectContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    .connectButton {
        padding: 12px 56px;
        border-radius: 44.72px;
        background: #ffffff;

        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color: #0f0f0f;
        text-wrap: nowrap;

        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    .walletButton {
        max-height: 48px;
        padding: 14px 16px;
        gap: 8px;
        border-radius: 12px;
        background: #f0f0f0;
        color: #0f0f0f;

        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        text-wrap: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userButton, .disconnectButton {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background: #f0f0f01a;
        backdrop-filter: blur(18px);

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;

        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1280px) {
        gap: 8px;
        .connectButton {
            padding: 8px 40px;
            font-size: 10px;
            line-height: 14px;
        }
        .userButton, .disconnectButton {
            height: 40px;
            width: 40px;
            border-radius: 7px;
        }
        .walletButton {
            height: 40px;
            padding: 10px 8px;
            gap: 5px;
            border-radius: 7px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    @media screen and (max-width: 960px) {
        gap: 12px;
        .connectButton {
            padding: 10px 42px;
            font-size: 14.66px;
            line-height: 25.65px;
        }
        .disconnectButton {
            margin-right: 8px;
        }
        .userButton {
            display: none;
        }
        .walletButton {
            padding: 8px 12px;
            gap: 5px;
            border-radius: 8px;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        gap: 8px;
        .connectButton {
            padding: 8px 33px;
            font-size: 12px;
            line-height: 21px;
        }
        .disconnectButton {
            margin-right: 4px;
        }
    }
}
.mobileButton {
    background: transparent;

    @media screen and (min-width: 960px) {
        display: none;
    }
}
.mobile {
    position: fixed;
    z-index: 101;
    inset: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    transform: translateY(-100%);
    justify-content: center;

    @media screen and (min-width: 960px) {
        display: none;
    }
}

.mobileMenuBg {
    position: absolute;
    z-index: 102;
    transition: all 1.5s ease-in-out;
    width: 100%;
    height: 100%;
}
.activeMobileMenuBg {
    backdrop-filter: blur(32px);
    background: #0f0f0fcc;
    
}
.activeMobile {
    transform: translateY(0%);
}

.mobileMenu {
    position: relative;
    z-index: 103;
    width: 100%;
    height: fit-content;
    margin: 0 16px;
    padding: 16px;
    padding-top: 130px;
    gap: 20px;
    border-radius: 0px 0px 32px 32px;
    background: #222222;

    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    gap: 4px;

    @media screen and (max-width: 480px) {
        padding-top: 100px;
    }
}
.activeMobileMenu {
    transform: translateY(0%);
}

.mobileLink {
    display: flex;
    align-items: center;

    height: 64px;
    padding: 16px;
    gap: 16px;
    border-radius: 12px;
    // background: #f0f0f014;
    backdrop-filter: blur(18.8px);

    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: center;
    color: #f0f0f0;

    .mobileLinkImg {
        width: 48px;
        height: 48px;
        padding: 12px;
        border-radius: 6px;
        background: #f0f0f014;
        backdrop-filter: blur(18.8px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    span {
        background: rgba(87, 87, 87, 0.4);
        padding: 8px 12px;
        border-radius: 4px;

        font-size: 12px;
        line-height: 18px;
        color: #F0F0F0;

        max-width: 100%;
    }

    &:disabled {
        color: rgba(240, 240, 240, 0.2);
    }
}
