.wrapper {
    padding: 160px 0 70px;
    position: relative;

    @media screen and (max-width: 1280px) {
        padding: 110px 0 50px;
    }

    @media screen and (max-width: 960px) {
        padding: 160px 100px 0;
    }
    @media screen and (max-width: 480px) {
        padding: 130px 17px 0;
    }
}

.container {
    position: relative;
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    @media screen and (max-width: 1280px) {
        max-width: 850px;
    }
    @media screen and (max-width: 960px) {
        max-width: none;
        flex-direction: column;
    }
    @media screen and (max-width: 480px) {
    }
}
.mobileBg1 {
    display: none;

    @media screen and (max-width: 960px) {
        display: block;
        position: absolute;
        z-index: -1;
        top: -100px;
        left: -240px;
        opacity: 0.3;
        width: 430px;
        height: 430px;
        background: rgba(0, 161, 178, 1);
        filter: blur(183px);
    }
    @media screen and (max-width: 480px) {
        width: 355px;
        height: 355px;
        left: -160px;
        filter: blur(150px);
    }
}

.mobileBg2 {
    display: none;

    @media screen and (max-width: 960px) {
        display: block;
        position: absolute;
        z-index: 1;
        top: 600px;
        right: 35px;
        opacity: 0.3;
        width: 400px;
        height: 400px;
        background: rgba(0, 161, 178, 1);
        filter: blur(183px);
    }
    @media screen and (max-width: 480px) {
        width: 330px;
        height: 330px;
        right: -140px;
        filter: blur(150px);
    }
}

.mobileVideo {
    display: none;
    transition: 0.3s;
    @media screen and (max-width: 960px) {
        display: block;
        margin-top: 50px;
        width: 420px;
        height: auto;
        border-radius: 15px;

        position: relative;
        object-fit: cover;
        z-index: 1;
    }
    @media screen and (max-width: 480px) {
        width: 330px;
    }
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
    border-radius: 16px;
    max-width: 1400px;
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: 1;

    transition: 0.3s;

    @media screen and (max-width: 1280px) {
        max-width: 900px;
        margin-top: 100px;
        height: 424px;
    }
    @media screen and (max-width: 960px) {
        display: none;
    }
}

.leftColumn {
    display: flex;
    flex-direction: column;

    .subtitle {
        width: fit-content;
        padding: 8px 12px;
        border-radius: 28px;
        background: #57575766;
        backdrop-filter: blur(20px);

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #afafaf;
    }

    .title {
        margin-top: 32px;

        font-size: 60px;
        font-weight: 500;
        line-height: 60px;
        text-align: left;

        color: #f0f0f0;

        span {
            color: #12fff1;
        }
    }

    .description {
        margin-top: 32px;
        max-width: 370px;

        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #f0f0f0;

        span {
            color: #12fff1;
        }
    }

    .actions {
        margin-top: 62px;
        display: flex;
        align-items: center;
        gap: 20px;

        .socialLink {
            display: flex;
            align-items: center;
            gap: 8px;
            transition: 0.3s;

            span {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color: #9b9b9b;
            }

            .socialIcon {
                padding: 13px;
                width: 45px;
                height: 45px;

                background: #57575766;
                backdrop-filter: blur(20px);
                border-radius: 100px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .awords {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 6px;

        height: 50px;

        img {
            cursor: pointer;
            height: 100%;
            width: auto;
        }

        img:nth-child(5) {
            height: 30px;
            margin-left: 24px;
        }

        img:nth-child(6) {
            margin-left: 24px;
        }
    }
    @media screen and (max-width: 1280px) {
        .subtitle {
            font-size: 11px;
            line-height: 16.5px;
            padding: 6px 8px;
        }
        .title {
            margin-top: 22px;
            font-size: 43px;
            line-height: 42.67px;
        }
        .description {
            margin-top: 22px;
            font-size: 10px;
            line-height: 14.93px;
        }
        .actions {
            margin-top: 38px;
            gap: 14px;

            .socialLink {
                gap: 6px;

                span {
                    font-size: 11px;
                    line-height: 16.5px;
                }
                .socialIcon {
                    padding: 9px;
                    width: 32px;
                    height: 32px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
        .awords {
            margin-top: 17px;
            gap: 5px;
            height: 40px;
            img:nth-child(5) {
                height: 25px;
                margin-left: 20px;
            }
            img:nth-child(6) {
                margin-left: 20px;
            }
        }
    }
    @media screen and (max-width: 960px) {
        align-items: center;
        .subtitle {
            display: none;
        }
        .title {
            margin: 0;
            font-size: 48.85px;
            line-height: 52.11px;
            text-align: center;
        }
        .description {
            font-size: 17.1px;
            line-height: 25.65px;
            text-align: center;
            max-width: 350px;
        }
        .actions {
            margin-top: 53px;
            gap: 20px;

            .socialLink {
                gap: 8px;

                span {
                    font-size: 14.66px;
                    line-height: 21.98px;
                }
                .socialIcon {
                    padding: 13px;
                    width: 45px;
                    height: 45px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .awords {
            margin-top: 50px;
        }
    }
    @media screen and (max-width: 480px) {
        .title {
            font-size: 40px;
            line-height: 42.67px;
        }
        .description {
            font-size: 14px;
            line-height: 21px;
        }
        .actions {
            margin-top: 44px;
            gap: 16px;

            .socialLink {
                gap: 6px;

                span {
                    font-size: 12px;
                    line-height: 18px;
                }
                .socialIcon {
                    padding: 10px;
                    width: 36px;
                    height: 36px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .awords {
            margin-top: 50px;
            gap: 4px;
            height: 30px;
            img:nth-child(5) {
                height: 20px;
                margin-left: 16px;
            }
            img:nth-child(6) {
                margin-left: 16px;
            }
        }
    }
}

.rightColumn {
    width: 460px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    .timerHead {
        width: 100%;
        height: 71.66px;
        background-repeat: no-repeat;
        background-size: contain;

        .timerWrapperTitle {
            margin: 20px 88px 20px auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 6px;

            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
            color: #f0f0f0;

            .logo {
                width: 32px;
                height: 32px;
            }
        }
    }

    .timer {
        height: 100%;
        backdrop-filter: blur(24px);
        background: #252526;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid #575757;
        border-radius: 4px 4px 16px 16px;

        padding: 40px;

        .timerTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: #fff;

            .timerHeading {
                font-size: 32px;
                line-height: 36px;
                font-weight: 600;
            }

            .timerDesc  {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }

            .discount {
                color: #0F0E14;
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
                padding: 4px 8px;
                border-radius: 8px;
                background: #12FFF1;
            }
        }

        .timerContainer {
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color: #AFAFAF;
            }
        }

        .stagePrice {
            margin-top: 32px;
            width: 100%;
            background: #F0F0F01A;
            padding: 12px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: #FFFFFF99;
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
            }

            .prices {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;

                .prevPrice {
                    font-weight: 400;
                    color: #F0F0F066;
                    text-decoration: line-through;
                }
            }
        }

        .progress {
            width: 100%;
            margin-top: 32px;
        }

        .warn {
            margin-top: 32px;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            max-width: 256px;
            color: #fff;

            span {
                font-weight: 700;
            }
        }

        .timerButton {
            margin-top: 36px;
            width: 100%;
            padding: 12px;
            border-radius: 50px;
            background: linear-gradient(89.59deg, #12FFF1 14.83%, #99FFF9 85.17%);

            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            color: #0F0E14;
        }

        .stage1Btn {
            margin-top: 12px;
        }

        .suggestion {
            text-align: center;
            font-weight: 600;
            color: #64E5ED;
            line-height: 21px;
            font-size: 14px;
            display: inline-block;
            margin-top: 8px;
        }

        .pays {
            margin-top: 32px;
            width: 100%;

            .paysTitle {
                color: #FFFFFF66;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                align-items: center;
                gap: 8px;
                display: flex;

                &::before, &::after {
                    content: '';
                    max-width: 149px;
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #FFFFFF33;
                }
            }

            .paysCards {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-top: 8px;

                .paysCard {
                    width: 100%;
                    padding: 0 12px;
                    height: 48px;

                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.04);
                    transition: background .4s ease;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 21px;
                        text-align: left;
                        color: #ffffff;
                        text-transform: uppercase;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, .02);
                        transition: background .4s ease;
                    }
                }
            }
        }

        .refBtn {
            margin-top: 32px;
            background: none;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            text-align: right;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    @media screen and (max-width: 1280px) {
        width: 328px;

        .timerHead {
            height: 52px;

            .timerWrapperTitle {
                margin: 14px 62px 14px auto;
                gap: 6px;

                font-size: 14.22px;
                line-height: 15.64px;

                .logo {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .timer {
            border-radius: 3px 3px 11px 11px;
            padding: 28.45px;

            .timerTitle {
                .timerHeading {
                    font-size: 22.76px;
                    line-height: 25.6px;
                }

                .timerDesc {
                    font-size: 8.5px;
                    line-height: 11.38px;
                }

                .discount {
                    font-size: 15.64px;
                    line-height: 23.47px;
                    padding: 2.84px 5.69px;
                }
            }

            .timerContainer {
                margin-top: 22px;

                .title {
                    font-size: 9.96px;
                    line-height: 14.93px;
                }
            }

            .stagePrice {
                margin-top: 22px;
                padding: 8.5px;
                border-radius: 5.7px;

                h3, .prices {
                    font-size: 9.96px;
                    line-height: 14.93px;
                }
            }

            .progress {
                margin-top: 22px;
            }

            .warn {
                margin-top: 22px;
            }

            .timerButton {
                margin-top: 22px;
                font-size: 9.96px;
                line-height: 14.93px;
                padding: 8.5px;
            }

            .suggestion {
                font-size: 9.96px;
                line-height: 14.93px;
            }

            .pays {
                margin-top: 22px;

                .paysTitle {
                    font-size: 9.96px;
                    line-height: 14.93px;

                    &::before, &::after {
                        max-width: 105px;
                    }
                }

                .paysCards {
                    margin-top: 5.7px;
                    gap: 11.4px;

                    .paysCard {
                        border-radius: 5.7px;
                        padding: 8.5px;
                        gap: 5.7px;
                        height: 34px;
                    }

                    .paysCard:nth-child(1), .paysCard:nth-child(2) {
                        img {
                            width: 17px;
                            height: 17px;
                        }
                    }

                    .paysCard:nth-child(3) {
                        img:nth-child(1) {
                            width: 33px;
                            height: 10.86px;
                        }

                        img:nth-child(2) {
                            width: 25.6px;
                            height: 19.72px;
                        }
                    }
                }
            }

            .refBtn {
                margin-top: 22px;
            }
        }
    }

    @media screen and (max-width: 960px) {
        margin-top: 50px;

        .timer {
            padding: 25px;

            .stagePrice, .timerButton, .timerContainer, .paysCards, .refBtn, .progress, .warn {
                margin-top: 19.86px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        width: 325px;

        .timer {
            padding: 28.45px;

            .stagePrice, .timerButton, .timerContainer, .paysCards, .refBtn, .progress, .warn {
                margin-top: 22px;
            }

            .pays {
                .paysTitle {
                    &::before, &::after {
                        max-width: 103px;
                    }
                }
            }
        }
    }
}
