.wrapper {
    position: fixed;
    top: 28px;
    left: 50%;
    z-index: 100;

    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;

    padding: 12px 12px 12px 32px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(87, 87, 87, 0.4);
    backdrop-filter: blur(20px);

    @media screen and (max-width: 1200px) {
        max-width: 850px;
        padding: 8px 8px 8px 20px;
        border-radius: 12px;
    }
    @media screen and (max-width: 960px) {
        max-width: 750px;
        padding: 9px 9px 9px 22px;
        border-radius: 12px;
    }
}

.logo {
    width: 121px;
    height: 44px;

    img {
        height: 100%;
        width: auto;
    }

    @media screen and (max-width: 1200px) {
        width: 86px;
        height: 31px;
    }
    @media screen and (max-width: 960px) {
        width: 75.09px;
        height: 27.31px;
    }
}

.linksContainer {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 52px 0 auto;

    .link {
        cursor: pointer;
        transition: 0.3s;
        background: transparent;
        border: none;

        font-size: 12px;
        font-weight: 500;
        line-height: 13.2px;
        text-align: center;
        color: #f0f0f0;

        &:hover {
            opacity: 0.8;
        }
    }
    @media screen and (max-width: 1200px) {
        gap: 28px;
        margin-right: 36px;

        .link {
            font-size: 9px;
            line-height: 9.9px;
        }
    }

    @media screen and (max-width: 960px) {
        gap: 24px;
        margin-right: 32px;

        .link {
            font-size: 7px;
            line-height: 7.7px;
        }
    }
}

.connectContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    .connectButton {
        padding: 12px 56px;
        border-radius: 44.72px;
        background: #ffffff;

        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color: #0f0f0f;

        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    .userButton {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background: #f0f0f01a;
        backdrop-filter: blur(18px);

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;

        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1200px) {
        gap: 8px;
        .connectButton {
            padding: 8px 40px;
            font-size: 10px;
            line-height: 14px;
        }
        .userButton {
            height: 34px;
            width: 34px;
            border-radius: 7px;
        }
    }

    @media screen and (max-width: 960px) {
        gap: 7px;
        .connectButton {
            padding: 7.45px 33px;
            font-size: 9px;
            line-height: 13.03px;
        }
        .userButton {
            height: 30px;
            width: 30px;
        }
    }
}
