.container {
    display: flex;
    // align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 160px;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #ffffff;

    width: 100%;

    @media screen and (max-width: 650px) {
        font-size: 36px;
        line-height: 54px;
        text-align: center;
    }
    @media screen and (max-width: 480px) {
        font-size: 36px;
        line-height: 54px;
        text-align: center;
    }
}

.leftCol {
    max-width: calc(50% - 10px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info {
        padding: 30px 32px;
        gap: 8px;
        border-radius: 8px;
        background: #57575766;
        backdrop-filter: blur(30px);

        .infoTitle {
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-align: left;
            color: #12fff1;
        }

        .infoText {
            margin-top: 8px;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: rgba(255, 255, 255, 0.6);

            span {
                color: #12fff1;
                font-weight: 500;
            }
        }
    }

    /* ==== DEPOSIT BALANCE CARD ==== */
    .balanceTitle {
        font-size: 20px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;

        span {
            color: #12FFF1;
        }
    }
    
    .balanceTitleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .balanceChain {
            display: flex;
            align-items: center;
            gap: 8px;

            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #FFFFFF;
        }
    }

    .balanceItemsWrapper {
        margin-top: 18px;
        display: flex;
        gap: 16px;

        @media screen and (max-width: 480px) {
            gap: 4px;

            >div {
                padding: 12px;
                gap: 6px;
            }
        }
    }
    /* ============================== */

    /* ==== FAQ ==== */
    .faq {
        @media (max-width: 650px) {
            display: none;
        }
    }
    /* ============= */

    @media screen and (max-width: 960px) {
        .info {
            padding: 20px;
        }
    }
    @media screen and (max-width: 650px) {
        max-width: none;
        width: 100%;
    }
}

.rightCol {
    max-width: calc(50% - 10px);
    height: fit-content;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .depositWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 36px;

        background: #141415;
        backdrop-filter: blur(22px);
        padding: 44px 28px 28px;
        border-radius: 12px;
        border: 1px solid #12fff1;
        box-shadow: 0 0 24px 0 #12FFF152;

        .balanceWrapper {
            .balanceTitle {
                width: 100%;

                font-size: 20px;
                font-weight: 500;
                line-height: 36px;
                text-align: left;
                color: #ffffff;

                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 27px;
                    text-align: center;
                    color: #0f0e14;

                    background: #12fff1;
                    padding: 6px 8px;
                    border-radius: 4px;
                }
            }

            .balance {
                margin-top: 4px;
                display: flex;
                align-items: center;
                gap: 12px;

                span {
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 36px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }

        .headTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 32px;
                line-height: 36px;
                color: #FFFFFF;
                font-weight: 600;

                @media (max-width: 960px) {
                    font-size: 28px;
                }

                @media (max-width: 710px) {
                    font-size: 22px;
                }
            }

            .discount {
                color: #0F0E14;
                font-size: 22px;
                line-height: 33px;
                font-weight: 600;
                background: #12FFF1;
                padding: 4px 8px;
                border-radius: 8px;
            }
        }

        .timer {
            display: flex;
            align-items: center;
            gap: 20px;

            .timerTitle {
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                color: #afafaf;
                max-width: 61px;

                @media (max-width: 450px) {
                    font-size: 10px;
                } 
            }
        }

        .tg {
            color: #fff;
            font-size: 14px;
            line-height: 21px;
            text-align: center;

            span {
                display: inline-flex;
                position: relative;
                top: 3.5px;
                align-items: center;
                gap: 3px;
                color: #12FFF1;
                cursor: pointer;

                svg {
                    width: 17px;
                    height: 16px;
                }
            }
        }

        .tgBtn {
            display: none;
            margin: 0 auto;
            width: 100%;
            padding: 12px 52px 12px 52px;

            border-radius: 50px;
            text-align: center;
            background: linear-gradient(89.59deg, #12fff1 14.83%, #99fff9 85.17%);
            box-shadow: 0px 0px 29.77px 0px rgba(18, 255, 241, 0.3);

            font-size: 14px;
            font-weight: 600;
            line-height: 21px;

            @media (max-width: 650px) {
                display: block;
            }
        }

        .stagePrice {
            background: #F0F0F01A;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px;

            .stage1Sold {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            h5, .stage1Sold>h4 {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color: #FFFFFF99;
            }

            .depositPriceWrapper {
                display: flex;
                align-items: center;
                gap: 8px;

                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    color: #F0F0F066;;
                }

                .prevPrice {
                    text-decoration: line-through;
                }

                .depositDiscount {
                    padding: 4px 8px;
                    border-radius: 4px;
                    background: #12FFF1;
                    color: #0F0E14;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    text-align: center;
                }
            }

            @media (max-width: 1200px) {
                gap: 5px;

                h5, .stage1Sold>h4 {
                    font-size: 10px;
                }

                .depositPriceWrapper {
                    h4 {
                        font-size: 10px;
                    }

                    .depositDiscount {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }

            @media (max-width: 880px) {
                h5, .stage1Sold>h4 {
                    max-width: 60px;
                    text-align: center;
                }
            }

            @media (max-width: 650px) {
                h5, .stage1Sold>h4 {
                    font-size: 14px;
                    max-width: none;
                    text-align: left;
                }

                .depositPriceWrapper {
                    h4 {
                        font-size: 14px;
                    }

                    .depositDiscount {
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }

            @media (max-width: 550px) {
                h5, .stage1Sold>h4 {
                    font-size: 10px;
                }

                .depositPriceWrapper {
                    h4 {
                        font-size: 10px;
                    }

                    .depositDiscount {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }

            @media (max-width: 425px) {
                h5, .stage1Sold>h4 {
                    font-size: 8px;
                }

                .depositPriceWrapper {
                    h4 {
                        font-size: 8px;
                    }

                    .depositDiscount {
                        font-size: 8px;
                        line-height: 14px;
                    }
                }
            }
        }

        @media screen and (max-width: 960px) {
            padding: 28px;
            .balanceWrapper {
                .balanceTitle {
                    font-size: 16px;
                    line-height: 24px;

                    flex-direction: column-reverse;
                    align-items: flex-start;
                    gap: 8px;

                    span {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .balance {
                    span {
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
            }
        }
        @media screen and (max-width: 650px) {
            max-width: none;
            padding: 20px;

            .balanceWrapper {
                .balanceTitle {
                    flex-direction: row;
                    align-items: center;
                    text-wrap: nowrap;
                }
                .balance {
                    span {
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
            }
            .headTitle {
                font-size: 20px;
                line-height: 36px;
                text-wrap: nowrap;

                .headTitleRight {
                    text-wrap: wrap;
                    margin-left: 6px;
                }
            }
        }
        @media screen and (max-width: 480px) {
            padding-top: 24px;
            .balanceWrapper {
                .balanceTitle {
                    font-weight: 400;

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                    }
                }
                .balance {
                    margin-top: 8px;
                }
            }
        }
    }

    .underDeposit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 24px 32px;
        border-radius: 8px;
        background: rgba(20, 20, 21, 1);
        backdrop-filter: blur(25px);

        .underDepositItem {
            display: flex;
            flex-direction: column;
            color: rgba(240, 240, 240, 0.4);

            font-size: 12px;
            font-weight: 400;
            line-height: 18.11px;

            span {
                font-size: 14px;
                font-weight: 500;
                color: #F0F0F0;
            }
        }

        @media screen and (max-width: 1280px) {
            padding: 20px;
            .underDepositItem {
                font-size: 10px;
                font-weight: 400;
                line-height: 18.11px;
    
                span {
                    font-size: 10px;
                }
            }
        }
        @media screen and (max-width: 480px) {
            .underDepositItem {
                text-align: center;
            }
        }
    }


    @media screen and (max-width: 650px) {
        max-width: none;
    }
}


/* ==== MOBILE FAQ ==== */
.mobileFaq {
    display: none;
    @media (max-width: 650px) {
        display: block;
    }
}
/* ==================== */


.vested {
    width: 50%;
    padding: 16px;
    font-size: 12px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
    b { color: #12FFF1; font-weight: normal;}
}