.progressBarContainer {
    .title {
        font-size: 12.5px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.6);
    }

    .amounts {
        font-size: 14px;
        display: inline;
        line-height: 18px;
        color: #FFFFFF;
        font-weight: 700;

        span {
            color: #12fff1;
            filter: drop-shadow(0 0 18px #12fff1);
        }
    }

    span {
        color: #FFFFFF;
        font-weight: 700;
    }
}

.bar {
    margin-top: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 12px;

    .barWrapper {
        height: 18px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #00A1B2;

        .percentage {
            border-radius: 0 4px 4px 0;
            height: 100%;
            background: linear-gradient(89.59deg, #12fff1 14.83%, #99fff9 85.17%);
        }
    }
}
