.wrapper {
    position: relative;
    background-position: right;
    background-repeat: no-repeat;

    margin: 150px auto 90px;
    max-width: 1200px;
    height: 100vh;

    @media (max-width: 960px) {
        background-image: url("../../../public/images/why/why-bg-mobile.png") !important;
        background-size: cover;
        height: fit-content;

        &::before, &::after {
            content: "";
            position: absolute;
            height: 50px;
            left: 0;
            right: 0;
        }

        &::before {
            top: 0;
            background: linear-gradient(0deg, rgba(2,3,4,0) 0%, rgba(2,3,4,1) 84%);
        }

        &::after {
            bottom: 0;
            background: linear-gradient(180deg, rgba(2,3,4,0) 0%, rgba(2,3,4,1) 84%);
        }
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @media (max-width: 1280px) {
        gap: 12px;
        padding-left: 30px;
    }

    @media (max-width: 960px) {
        align-items: center;
        padding: 30px 0;
        z-index: 5;
    }
}

.item {
    background-size: contain;
    background-repeat: no-repeat;

    width: 434.69px;
    height: 227.52px;

    padding: 0 0px 0 44px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    color: #f0f0f0;

    h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;

        max-width: 300px;
    }

    p {
        max-width: 270px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    @media (max-width: 1280px) {
        h4 {
            font-size: 20px;
            line-height: 25px;
            max-width: 211px;
        }

        p {
            font-size: 10px;
            line-height: 15px;
            max-width: 236px;
        }

        padding-left: 31px;
        width: 309px;
        height: 162px;
    }

    @media (max-width: 960px) {
        &:nth-child(1) {
            background-image: url("../../../public/images/why/why-item-mobile-bg1.png") !important;
        }

        &:nth-child(2) {
            background-image: url("../../../public/images/why/why-item-mobile-bg2.png") !important;
        }

        &:nth-child(3) {
            background-image: url("../../../public/images/why/why-item-mobile-bg3.png") !important;
        }
    }

    @media (max-width: 325px) {
        width: 295px;
        height: 150px;
    }
}
