.wrapper {
   position: fixed;
   max-width: 1200px;
   width: 100%;
   padding: 10px;
   border-radius: 24px;
   background: #272727cc;
   backdrop-filter: blur(11.4px);
   z-index: 10;
   backdrop-filter: blur(8px);
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   bottom: -250px;
   visibility: hidden;
   opacity: 0;
   transition: bottom 0.6s ease, visibility 0.5s ease, opacity 0.5s ease;

   &.open {
      bottom: -20px;
      opacity: 1;
      visibility: visible;
   }

   .stage {
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.12);
      border: 1px solid rgba(255, 255, 255, 0.24);
      gap: 10.5px;
      border-radius: 16px;

      .coin {
         margin-left: 28px;
      }

      .info {
         border-radius: 8px;
         margin: 8px 0;
         padding: 8px 8px 8px 24px;
         background: rgba(255, 255, 255, 0.04);
         display: flex;
         gap: 12px;
         transition: background .4s ease;
         align-items: center;

         &:hover {
            background: rgba(255, 255, 255, .12);
            transition: background .4s ease;
         }

         .priceWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            h2 {
               color: #fff;
               font-size: 10px;
               line-height: 16px;
               vertical-align: middle;
               font-weight: 500;
            }

            .mobileDiscount {
               display: none;
               border: 1px solid #00a1b2;
               padding: 0 3px;
               border-radius: 2.84px;

               p {
                  color: #12fff1;
                  font-size: 11px;
                  font-weight: 700;
                  line-height: 13px;
                  text-align: center;
               }
            }
         }

         .wrap {
            display: flex;
            align-items: center;
            gap: 12px;

            .prices {
               display: flex;
               align-items: center;
               gap: 4px;

               p {
                  font-weight: 700;
                  color: #fff;
                  vertical-align: middle;
                  font-size: 15px;
                  line-height: 20px;
               }
            }

            .discount {
               border: 1px solid #00a1b2;
               padding: 0 8px;
               border-radius: 4px;

               p {
                  color: #12fff1;
                  line-height: 28px;
                  font-size: 20px;
                  font-weight: 700;
                  text-align: center;
               }
            }
         }
      }

      .timer {
         margin: 8px 0;
         display: flex;
         align-items: center;
         border-radius: 8px;
         padding: 8px 24px;
         background: rgba(255, 255, 255, 0.04);
         transition: background .4s ease;
         gap: 12px;

         &:hover {
            background: rgba(255, 255, 255, .12);
            transition: background .4s ease;
         }

         h2 {
            color: #fff;
            font-size: 10px;
            line-height: 16px;
            font-weight: 500;
         }

         .countdown {
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: #12fff1;
            font-weight: 500;
            font-size: 10px;

            div {
               span {
                  font-size: 16px;
                  line-height: 17.6px;
                  text-align: center;
               }

               p {
                  text-align: center;
                  font-size: 6px;
                  line-height: 6.6px;
               }
            }
         }
      }

      .buy {
         height: 44px;
         width: 116px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 8px 8px 8px 0;
         background: #12fff1;
         transition: background .4s ease;
         font-size: 20px;
         color: #0f0e14;
         line-height: 28px;
         font-weight: 700;
         border-radius: 8px;
         text-transform: uppercase;

         &:hover {
            background: #00A1B2;
            transition: background .4s ease;
         }
      }
   }

   .socials {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-right: 24px;

      .social {
         color: rgba(255, 255, 255, 0.6);
         display: flex;
         align-items: center;
         gap: 8px;
         font-size: 14px;
         line-height: 21px;
         font-weight: 400;
      }
   }

   @media (max-width: 1280px) {
      padding: 7px;
      border-radius: 17px;
      max-width: 853px;

      .stage {
         border-radius: 11px;
         gap: 13px;

         .coin {
            width: 48px;
            height: 36px;
            margin-left: 20px;
         }

         .info {
            margin: 6px 0;
            padding: 6px 6px 6px 17px;
            border-radius: 6px;
            gap: 8.5px;

            h2 {
               font-size: 7px;
               line-height: 11px;
            }

            .wrap {
               gap: 8.5px;

               .prices {
                  p {
                     font-size: 10px;
                     line-height: 14px;
                  }

                  .price {
                     width: 52px;
                     height: 15px;
                  }
               }

               .discount {
                  padding: 0 6px;
                  border-radius: 3px;

                  p {
                     font-size: 14px;
                     line-height: 20px;
                  }
               }
            }
         }

         .timer {
            padding: 6px 17px;
            border-radius: 6px;
            gap: 9px;
            margin: 6px 0;

            h2 {
               font-size: 7px;
               line-height: 11px;
            }

            .countdown {
               font-size: 7px;
               width: 78px;

               div {
                  span {
                     font-size: 11.4px;
                     line-height: 12.5px;
                  }

                  p {
                     font-size: 4.3px;
                     line-height: 4.7px;
                  }
               }
            }
         }

         .buy {
            height: 28.45px;
            width: 82.5px;
            margin: 6px 6px 6px 0;
            font-size: 14px;
            line-height: 22px;
            border-radius: 6px;
         }
      }

      .socials {
         margin-right: 20px;
         gap: 11px;

         .social {
            svg {
               width: 11.4px;
               height: 11.4px;
            }

            gap: 6px;
            font-size: 10px;
            line-height: 15px;
         }
      }
   }

   @media (max-width: 960px) {
      max-width: 635px;
      display: block;

      .stage {
         justify-content: space-between;
         gap: 0;
      }

      .socials {
         display: none;
      }
   }

   @media (max-width: 640px) {
      max-width: 440px;
      padding: 8px 12px;
      border-radius: 17px;

      .stage {
         background: none;
         border: none;

         .coin {
            margin-left: 0;
         }

         .info {
            margin: 0;
            flex-direction: column;
            gap: 5px;
            padding: 6px 14px;
            align-items: unset;

            .priceWrapper {
               justify-content: space-between;

               .mobileDiscount {
                  display: block;
               }
            }

            .discount {
               display: none;
            }
         }

         .timer {
            height: 47px;
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.3px;

            h2 {
               margin-left: -2px;
            }
         }

         .buy {
            margin: 0;
         }
      }
   }

   @media (max-width: 480px) {
      max-width: 360px;

      .stage {
         .coin {
            display: none;
         }

         .info {
            height: 47px;
            width: 135px;
            padding: 6px 10px;

            .wrap {
               gap: 3px;
            }
         }

         .buy {
            height: 47px;
         }
      }
   }
}
