.wrapper {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(to bottom, #F0F0F0 0%, #F0F0F0 30%, transparent 100%);

      .imageWrapper {
         position: relative;
         width: 1054px;
         height: 713px;

         .passportImageWrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            width: 586px;
            height: 586px;
            border-radius: 1000px;
            background: rgba(87, 87, 87, 0.2);

            .passportImage {
               position: absolute;
               bottom: 0px;
               right: 0;
            }
         }

         @media (max-width: 1005px) {
            display: none;
         }
      }

      .passport {
         background-color: rgba(87, 87, 87, 0.2);
         border-radius: 28px;
         padding: 8px 12px;
         max-width: fit-content;
         color: #575757;
         margin: 0 auto;

         @media (max-width: 960px) {
            font-size: 19px;
         }

         @media (max-width: 420px) {
            font-size: 17px;
         }
      }

      .title {
         margin-top: 32px;
         font-size: 3.75rem;
         font-weight: 500;
         text-align: center;
         line-height: 100%;

         @media (max-width: 960px) {
            font-size: 49px;
         }

         @media (max-width: 505px) {
            font-size: 40px;
         }

         @media (max-width: 420px) {
            font-size: 30px;
         }
      }

      .description {
         font-size: 0.875rem;
         text-align: center;
         color: #0f0f0f;
         margin-top: 44px;
         max-width: 618px;
         margin-bottom: 165px;

         span {
            color: #00A1B2;
         }

         @media (max-width: 960px) {
            font-size: 17.1px;
         }

         @media (max-width: 680px) {
            max-width: 418px;
         }

         @media (max-width: 460px) {
            font-size: 13px;
            max-width: 313px;
         }
      }
   }

   .mobilePassport {
      display: none;

      @media (max-width: 1005px) {
         display: block;
         margin-top: 50px;
      }

      @media (max-width: 505px) {
         .passImage {
            width: 360px;
            height: 530px;
         }
      }

      @media (max-width: 420px) {
         .passImage {
            width: 320px;
            height: 495px;
         }
      }
   }
}