.transactions {
   margin-top: 68px;
   margin-bottom: 20px;

   .title {
      font-weight: 500;
      font-size: 36px;
      color: #fff;

      display: flex;
      align-items: center;
      gap: 12px;

      .mobileSwipe {
         display: none;
      }
   }

   .wrapper {
      max-width: 100%;

      .notify {
         border-radius: 9px;
         backdrop-filter: blur(34px);
         background-color: #ffffff0a;
         padding: 20px 16px;
         color: #ffffff99;
         font-size: 12px;
         line-height: 16px;
         font-weight: 400;
      }

      .table {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: 14px;
         line-height: 18px;
         font-weight: 500;
         color: #575757;
         padding: 0 15px 20px;
         border-bottom: 2px solid rgba(255, 255, 255, 0.08);

         list-style-type: none;

         li {
            width: 100%;

            &:nth-child(2) {
               width: 80%;
            }
            &:nth-child(3) {
               width: 130%;
            }
            &:nth-child(4) {
               width: 130%;
            }
            &:nth-child(5) {
               width: 80%;
            }
            &:last-child {
               text-align: right;
               width: 90%;
            }
         }
         
      }
   }

   .emptyWrapper {
      .table {
         border-bottom: none;
      }
   }

   @media (max-width: 1100px) {
      .title {
         justify-content: center;
         text-align: center;

         .mobileSwipe {
            display: block;
         }
      }

      .wrapper {
         overflow-x: auto;

         .table {
            width: 1200px;
         }
      }

      .emptyWrapper {
         .table {
            width: 100%;
         }
      }
   }
   @media (max-width: 680px) {
      .wrapper .table {
         width: 1100px;
      }
      .emptyWrapper {
         .table {
            width: 100%;
            gap: 12px;

            font-size: 9px;
            font-weight: 500;
            line-height: 18.11px;
            text-wrap: nowrap;
         }
         .notify {
            width: 100%;
         }
      }
   }
   @media (max-width: 480px) {
      .wrapper .table {
         width: 1000px;
      }
      .emptyWrapper {
         .table {
            width: 400px;
         }
         .notify {
            width: 400px;
         }
      }
   }
}
