.container {
    position: relative;

    width: 282px;
    height: 361px;

    border-radius: 10px;

    &:hover .content {
        opacity: 0;
    }
    &:hover .hoverContent {
        opacity: 1;
        pointer-events: auto;
    }
}

.content,
.hoverContent {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 25px;
    transition: opacity 0.5s ease;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.content {
    opacity: 1;
}
.hoverContent {
    opacity: 0;
    pointer-events: none;
    justify-content: flex-start;
    padding: 20px 43px 20px 20px;
}

.role {
    position: relative;
    color: white;
    z-index: 2;

    font-size: 18px;
    font-weight: 500;
    line-height: 25.82px;
    text-align: left;
    color: #f0f0f0;
}

.bottom {
    position: relative;
    z-index: 2;

    .name {
        display: block;
        margin-top: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
        color: #f0f0f0;
    }
}

.socialButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;

    width: 33px;
    height: 33px;
    border-radius: 5px;

    box-shadow: 0px 0px 17.94px 0px #b4fffa;
    transition: 0.3s;

    overflow: hidden;

    &:hover {
        opacity: 0.8;
    }
}

.description {
    margin-top: 18px;
    position: relative;
    z-index: 2;

    font-size: 12px;
    font-weight: 400;
    line-height: 16.6px;
    text-align: left;
    color: #f0f0f0;

    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
        display: flex;
        flex-wrap: nowrap;
        gap: 9px;
        span {
            margin-top: 4px;
            display: block;

            min-width: 12.42px;
            height: 12.42px;
            border-radius: 100%;

            border: 1px solid #afafaf;
        }
    }
}

.top {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
        width: 68.32px;
        height: 68.32px;
        border-radius: 100%;

        object-fit: cover;
        object-position: center;
    }

    .name {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #f0f0f0;
    }
}
