.bg {
    position: fixed;
    inset: 0;
    z-index: 200;

    background: #080808c7;
    backdrop-filter: blur(18px);
}

.container {
    position: fixed;
    z-index: 202;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 960px) {
        left: 40px;
        right: 40px;
        transform: translate(0, -50%);
    }
    @media screen and (max-width: 480px) {
    }
}

.closeButton {
    background: transparent;
    padding: 24px 0;

    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #ffffff;

    cursor: pointer;

    @media screen and (max-width: 480px) {
        position: fixed;
        top: 50vh;
        right: -40px;
        transform: rotate(90deg);
        transform-origin: top right;
        padding: 16px;
        font-size: 16px;
        gap: 8px;
        z-index: 203;

        background: #000;

        }
            @media screen and (max-height: 480px) {
                position: fixed;
                top: -50vh;
                right: -40px;
                padding: 16px;
                font-size: 16px;
                gap: 8px;
                z-index: 203;
    
                background: #000;
            }
}

.videoWrapper {
    width: 925px;
    height: 554px;

    @media screen and (max-width: 960px) {
        width: 100%;
        height: 350px;
    }
    @media screen and (max-width: 650px) {
        height: 250px;
    }
    @media screen and (max-width: 480px) {
        width: 100vh;
        height: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    @media screen and (max-height: 480px) {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
